/**
 *	Carousel
 **/

.carousel {
	@extend %list-reset;

	height: 100%;
	overflow: hidden;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: -1;

	&__item {
		@extend %list-reset;

		display: none;
		height: 100%;
		width: 100%;

		&--first {
			display: block;
		}

		img {
			min-height: 100%;
			position: relative;
			top: 50%;
			transform: translate(0, -50%);
			width: 100%;
		}
	}
}
