<footer class="global-footer">

	<div class="global-footer__footnote">

		Copyright &copy; {{ global.brand }} | <a href="{{ global.url }}">Privacy &amp; cookies</a> | <a href="">Terms &amp; conditions</a>

	</div>

</footer>

<script src="assets/js/main.js"></script>

</body>
</html>
