<nav class="global-navigation">
    <ul class="">
        <li{{#is basename "about"}} class="is-active"{{/is}}>
            <a href="#about-us">About us</a>
        </li><!--
        --><li{{#is basename "contact"}} class="is-active"{{/is}}>
            <a href="#contact">Contact</a>
        </li>
    </ul>
</nav>
